title
About

In [2]:
from scripts.bq_tool import run_bigquery
import pandas as pd

In [4]:
SQL = """
SELECT
  passenger_count,
  fare_amount
FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2022`
WHERE fare_amount > 0
LIMIT 1000
"""

df = run_bigquery(SQL)
df.head()

Running SQL at: 2025-12-20T22:44:54.471511

SELECT
  passenger_count,
  fare_amount
FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2022`
WHERE fare_amount > 0
LIMIT 1000

   passenger_count  fare_amount
0                1  0.700000000
1                1  2.000000000
2                1  2.000000000
3                1  1.100000000
4                2  1.100000000